.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    height:6vh;
    bottom: 0;
    right: 0;
    width: 100%;
    background-color: #e1735c;
    /* background-color: #f7de82; AMARILLO */
}
.footer a{
    color:black;
    font-weight: bold;
}
.footer a:hover{
    color: #f7de82;
    font-size: 100%;
    transition: all 0.3s;
}